*{
    box-sizing: border-box;
}
body{
    background-image: url(multimedia/fondo1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}
div.principal{
    margin-left: 2%;
    margin-right: 2%;
}
div.encabezado {
    background-color: black;
    border:5px solid red;
    padding: 0px;
    font-family: Starjedi;
    font-size: 25px;
    text-align: center;
    color: yellow;
}
div.encabezado p{
    padding: 0px;
    margin: 5px;
}
div.cuerpo {
    background-color: black;
    border:5px solid red;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: justify;
}
div.cuerpo p{
    margin: 0px;
}
div.cuerpo h1{
    font-family: Starjedi;
}
div.contenedor{
    margin-top: 10px;
    overflow: auto;
}
div.notaizquierda{
    float: left;
    margin-right: 25px;
    width: 20%;
    height: 491px;
    border: 5px solid red;
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div.notaizquierda p {
    margin: 10px;
}
div.notaderecha{
    float: right;
    border: 5px solid red;
    width: 75%;
    background-color: black;
    color: white;
    overflow: auto;
}
div.tabla{
    padding: 30px;
    float: left;
}
div.tabla table, div.tabla td {
    border: 1px solid white;
}
div.tabla table caption{
    font-family: Starjedi;
    text-align: left;
}
div.imagenes{
    float: right;
    padding: 30px;;
}

/*Declaracion de fuentes*/
@font-face {
    font-family: Starjedi;
    src: url("fuentes/Starjedi.ttf")
}
/*@font-face {
    font-family: Starjout;
    src: url("fuentes/Starjout.ttf")
}*/