/*General*/
table, td, th {
  border: 1px solid black;
  background-color: white;
}
body {
  background-color: #c8e0ec;
  font-family: verdana;
}
p {
  text-align: justify;
  padding-left: 10px;
}
h1{
  background-color: white;
  padding: 5px;
}
h2 {
  background-color: #409abf;
  font-size: 25px;
}
h3 {
  background-color: #76b9d6;
  color: white;
  font-size: 20px;
}
pre {
    background-color: white;
    font-weight: bold;
}
/*Ejercicio 1*/
table.ej1 {
  font-family: serif;
  border-collapse: collapse;
  padding: 3px;
}
table.ej1 td{
  padding: 3px;

}
tr.enca th{
  background-color: Blue;
  color: white;
}
tr th{
  background-color: black;
  color: white;
}
table.ej1 td:nth-child(odd){
  background-color: lightgray;

}
/*Ejerccio 2*/
table.ej2 {
  font-family: serif;
}


/*Ejercicio 3*/
p.titulo {
  font-size: 40px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
blockquote.ej3 {
  list-style: none;
    padding: 10px;
  font-style: italic;
}