

table, td, th {
	/*border: 1px solid grey;*/
	border-collapse: collapse;
    padding: 5px;
	
}
caption {
    font-family: fantasy, verdana;
    font-size: 30px;
}
table.horario tr:nth-child(even) {
    background-color: azure;
}
table.horario tr:nth-child(odd){
    background-color: #e1e1e1;
}
table.horario th {
    background-color: white;
    border: 1px solid grey;
}
td.bd{
	background-color: #c1eef2;
}
td.prog{
	background-color: #fdfcbc;
}
td.sis{
	background-color: #e0fdbc;
}
td.ing{
	background-color: #bcc6fd;
}
td.lm{
	background-color: #d5cfff;
}
td.fol{
	background-color: #ffe1cf;
}
td.ent{
	background-color: #fdb9b9;
}
td.recreo{
    background-color: #acc5ff;
    text-align: center;
}









